
.aptitude_badge {
    animation: aptitude 2.5s infinite;
}


@keyframes aptitude {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0px);
    }
}

.codingtest_badge {

}